a:link, a:visited {
  color: black;
  padding: 5px 10px;
  border-style: groove;
  border-left-color: lightblue;
  border-right-color: blue;
  border-top-color: lightblue;
  border-bottom-color: blue;
  background-color: lightgrey;
  text-decoration: none;
}

a:hover, a:active {
  background-color: gold;
}

/*h2 {
  text-align: right;
  padding: 5px 10px;
  size: 10px;
} */

/*h1 {
  text-align: center;
}

p {
  text-align: center;
} */

body {
  /*background-color: yellow;*/
  color: black;
}
